<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Money Online</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h2>Top 60 Ways To Earn Money Online </h2>
        <div class="col-6 col-md-9">
            <div class="jumbotron">
           
                {% if my_post %}
                    {% for post in my_post %}
                 
                    <h3 cl-4>{{post.title}}</h3>
                    <div class="jumbotron">
                        {% if post.image %}
                            <img src="{{post.image.url}}" alt=""> 
                        {% else %}
                        {% endif %}
                       
                        {% spaceless %}
                            <p>{{post.post | linebreaks }}</p> 
                            
                          
                        {% endspaceless %}
                        

                         
                    </div>
                       
                      <!-- <span id="time">  this post was created on:{{post.post_created}}</span> -->
                      
                    {% endfor %}
                {% endif %}
        
            </div>
        </div>
       
    </div>
    
</body>
</html>